[Unit]
Description=Atlas A
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiMDBlNTA4MGZmNzlhZWE1N2IwZWY3MmVjYjRmNjUwN2YiLCJ0IjoiY2ZkY2JiYWYtNmU4Ni00NGZlLTg0MTMtYTdmZmNmZGFkMzFiIiwicyI6Ik56SmhNR1l5TldNdE16Y3haQzAwT1dOaExUaGtOREF0WVdGaE5tVTRNV0U1T0daaSJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
