[Unit]
Description=Atlas B
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiOGQyMDg4NjE0Nzg1N2EwY2RjYzhkYjc3OGU4YjZlZjciLCJ0IjoiYjU4MjQ2MmItZTY5My00NzJkLThiMjktNmFkOWY1MDAyNzJhIiwicyI6Ik16QmtabU5sWkdNdFpHWTROaTAwWmpObUxXRmlNemN0Wm1Rek5tSTNaak5rTm1KaiJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
