[Unit]
Description=Atlas B
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiMDBlNTA4MGZmNzlhZWE1N2IwZWY3MmVjYjRmNjUwN2YiLCJ0IjoiNTM5Y2E3MDAtM2I5Mi00YWE2LTgzZmUtMzExYTZmMzc0ZDc1IiwicyI6Ik1tUXdaR1JoTUdVdE9UUmtPQzAwTm1VMUxUa3lOekV0TVRBd05XTmxOemRoTnpFMiJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
