[Unit]
Description=Atlas A
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiOGQyMDg4NjE0Nzg1N2EwY2RjYzhkYjc3OGU4YjZlZjciLCJ0IjoiNWNlMzQzYmUtNjJhNi00OTdhLTlmNTgtZDQ1MDg2YmFlMDA4IiwicyI6IllqVmpOekV6WWpJdFlqZzJOeTAwTXpoakxXSXdZVGt0T1RBeU56Z3hPR1UyT1RrMSJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
